// Base
@base-url: "../images";

// Blue
@blue-flashy: #2d87b0;
@blue-light: #2d87b0;
@blue: #102a4f;
@blue-transparent: rgba(11, 58, 76, 0.8);

// Black
@black: #21182d;
@black-transparent: rgba(0, 0, 0, 0.6);

// Grey
@gray: #eec155;
@gray-dark: #ece9d5;

// Yellow
@yellow-lighter: #f2e5b3;
@yellow-light: #fde540;
@yellow: #f4f468;
@yellow-dark: #fcdd04;
@yellow-flashy: #fff43e;

// Pink
@pink: #ed3587;
@pink-dark: #ef433f;

// Purple
@purple: #3f2e85;

// Green
@green: #62c199;
@green-dark: #38bb9d;
@minty: #b4dcc2;

// Font
@font-light: #faf7e3;
@font-gray: #888;
@font-blue: #174556;
@font-blue-light: #2aa2c2;


// Background
@background: #fdfbf0;

// Border
@border-radius: 5px;
@border-standard: 1px solid #ece9d5;
@border-blue: 1px solid #174556;
@border-blue-light: 1px solid #102a4f;
@border-blue-flashy-thick: 2px solid #102a4f;
@border-blue-light-thick: 2px solid #29a2c2;
@border-green-light-thick: 2px solid #77c58c;
@border-black-light-thick: 2px solid #21182d;
@border-yellow-thick: 2px solid #fff43e;
@border-green: 1px solid #1cb935;
@border-green-dark: 1px solid #38bb9d;
@border-pink: 1px solid #fa8882;
@border-yellow: 1px solid #fcdd04;